input {
    background-color: lightgrey;
  }

label {
  color:peru;
  font-size: large;
  white-space: nowrap;
  
}

button{
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 4px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
}
#feeInput{
  white-space: nowrap;
  padding-bottom: 8px;
}

#Calculate{
  background-color: #03C03C;
  
}

#SaveFees{
  background-color: red;
  float: right;
}
